*{background-color: green}

body {
    color: green;
    margin: 50px;
}
h1 {
  text-shadow: 0 0 2px #00e9ff, 0 0 3px #0088ff;
    background-color: maroon;
    font-family: Monaco, monospace;
     
}
h2 {
    text-shadow: 0 0 2px #00e9ff, 0 0 3px #0088ff;
    color: maroon;
    font-family: Monaco, monospace;
    
}
h3{
    text-shadow: 0 0 2px #00e9ff, 0 0 3px #0088ff;
    color: maroon;
    font-family: Monaco, monospace;
    
}
p {
  display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    color: green;
    background-color: white;
    border: 5px solid red;
    font-family: Georgia, serif;
}
strong {
     color: green;
    background-color: white;
    border: 10px solid maroon;
     display: flex;
    flex-direction: column;
      border-radius: 10px;
    padding: 20px;
    z-index: 10;
}

ol {

    color: green;
    background-color: white;
    border: 10px solid maroon;
     display: flex;
    flex-direction: column;
      border-radius: 10px;
    padding: 20px;
}
li {
      
   color: green;
    background-color: white;
    border: 1px solid red;
     display: flex;
    flex-direction: column;
      border-radius: 10px;
    padding: 20px;
}
